{% extends 'registration/base.html' %}

{% block title %}
Password Reset Completed
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-4">Password Reset Complete</h2>
                        <p>Your password has been successfully reset.</p>
                        <a href="{% url 'user:index' %}" class="btn btn-primary">Go to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
