{% extends 'registration/base.html' %}

{% block title %}
    Password Reset Done
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-4">Check Your Mail</h2>
                        <p class="card-text">We have emailed you with further instructions.</p>
                        <a href="{% url 'user:index' %}" class="btn btn-primary">Go to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
