{% extends 'registration/base.html' %}

{% block title %}
    Password Reset Confirmation
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        {% if validlink %}
                            <h2 class="card-title mb-4 text-center">Reset Password</h2>
                            <form method="post" class="form-reset" novalidate>
                                {% csrf_token %}
                                {% for field in form %}
                                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                    {% if field.name == 'new_password1' %}
                                        <input type="{{ field.field.widget.input_type }}"
                                               name="{{ field.html_name }}"
                                               class="form-control"
                                               id="{{ field.id_for_label }}"
                                               placeholder="Enter your new password">
                                    {% elif field.name == 'new_password2' %}
                                        <input type="{{ field.field.widget.input_type }}"
                                               name="{{ field.html_name }}"
                                               class="form-control"
                                               id="{{ field.id_for_label }}"
                                               placeholder="Confirm your new password">
                                    {% endif %}
                                    {% if field.errors %}
                                        <ul class="errors">
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                                <button class="btn btn-primary btn-block mt-3" type="submit">Reset Password</button>
                            </form>
                        {% else %}
                            <p class="text-danger">Password reset link is not valid.</p>
                            <a href="{% url 'user:index' %}" class="btn btn-primary">Go to Home Page</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
